In [4]:
#Functions

def sum(a,b,c):
    s=a+b+c
    return s

sum_of_three_no = sum(5,5,5)
print(sum_of_three_no)

15

In [9]:
name = "   Nishant Gupta  "

print(name.strip())

Nishant Gupta

In [15]:
name = "Nishant Gupta"

"Nishant" in name
print(name[0::2])

True

In [3]:
name = "NISHANT GUPTA"
print(name.upper())
print(name.lower())
print(name.isupper())
print(name.islower())

NISHANT GUPTA
nishant gupta
True
False

In [29]:
name = "Nishant Gupta"
print(name.find("ta"))

11

In [25]:
name = "Nishant Gupta"
print(name.replace("Gupta","sharma"))

Nishant sharma

In [4]:
name = "Nishant Gupta"

for i in name:
    print(i)

N
i
s
h
a
n
t

G
u
p
t
a

In [10]:
#Fibonacci

n = int(input("Enter number of terms: "))

a, b = 0, 1
print("Fibonacci series:")

for i in range(n):
    print(a, end=" ")
    a, b = b, a + b

Enter number of terms:  5

Fibonacci series:
0 1 1 2 3

In [24]:
#Factorial

n = int(input("Enter a numnber"))
fact =1
for i in range(1,n+1):
    fact = fact*i
print("Factoria of",n,"is",fact)

Enter a numnber 6

Factoria of 6 is 720

In [32]:
name = "Nishant Gupta"
c=0
for i in name:
    if i.isalpha() and i.lower()  not in "aeiou":
        c=c+1

print(c)


# name = "Nishant Gupta"
# c=0
# for i in name:
#     if i.lower()  in "aeiou":
#         c=c+1

# print(c)

8

In [37]:
name = "Nishant152 Gupta"
c=0
for i in name:
    if i.isdigit():
        c=c+1

print(c)

3

In [1]:
#Fibonacci

n = int(input("Enter number of terms: "))

a, b = 0, 1
print("Fibonacci series:")

for i in range(n):
    print(a, end=" ")
    a, b = b, a + b

Enter number of terms:  5

Fibonacci series:
0 1 1 2 3

In [7]:
#palindrome string

str = "ABCDCBA"
rev=(str[::-1])
if rev==str:
    print("string is palindrom:")
else:
    print("string is not palindrome:")

string is not palindrome:

In [11]:
s = "ABCDCBA"
print(s.reverse())

AttributeError: 'str' object has no attribute 'reverse'

In [14]:
#Fibonacci

n = int (input("Enter a number"))
n1= 0
n2= 1
print(n1,end = " ")
print(n2,end = " ")
s =0
for i in range(3,n+1):
    s=n1+n2
    print(s,end = " ")
    n1=n2
    n2=s

Enter a number 6

0 1 1 2 3 5

In [ ]:
n = int(input("Enter a number"))
fact =1
for i in range(1,n+1):
    fact = fact*i
print(fact)